<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5">
  <h1 class="mt-2 mt-md-4 mb-3 pt-5">Clientes</h1>
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
    <p class="text-muted">Este módulo lista todos los clientes de la tienda.</p>
    <p class="font-size-sm font-weight-medium pl-md-4">
      <a
        class="text-nowrap"
        [routerLink]="['/panel/clients/new']"
        routerLinkActive="router-link-active"
        rel="noopener"
        >Registrar nuevo<i
          class="cxi-angle-right font-size-base align-middle ml-1"
        ></i
      ></a>
    </p>
  </div>
</div>

<div class="card box-shadow-sm" style="min-height: 30rem">
  <div class="card-header">
    <h5 style="margin-bottom: 0px">Filtro de clientes</h5>
  </div>
  <div class="card-header">
    <form class="form-inline pt-2">
      <label class="sr-only" for="inline-form-input-name">Apellidos</label>
      <input
        class="form-control mb-3 mr-sm-4"
        type="text"
        id="inline-form-input-name"
        placeholder="John Doe"
      />
      <label class="sr-only" for="inline-form-input-username">Correo</label>
      <div class="input-group mb-3 mr-sm-4">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input
          class="form-control"
          type="text"
          id="inline-form-input-username"
          placeholder="Username"
        />
      </div>

      <button class="btn btn-primary mb-3" type="submit">Buscar cliente</button>
    </form>
  </div>
  <ng-container *ngIf="clients$ | async; let clients; else: loading">
    <div class="card-body fadein">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Correo</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let client of clients; index as i">
              <tr>
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ client.nombre }}</td>
                <td>{{ client.apellido }}</td>
                <td>{{ client.email }}</td>
                <td>
                  <div class="btn-group dropdown">
                    <button
                      type="button"
                      class="btn btn-outline-secondary btn-sm dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Opciones
                    </button>
                    <div class="dropdown-menu">
                      <a href="#" class="dropdown-item">Actualizar cliente</a>
                      <a href="#" class="dropdown-item">Eliminar cliente</a>
                      <!-- <div class="dropdown-divider"></div> -->
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>

  <div class="card-footer pointer">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a
            [class.disabled]="notPrevPage"
            class="page-link"
            (click)="getClients(previous)"
            >Prev</a
          >
        </li>
        <li class="page-item d-sm-none">
          <span class="page-link page-link-static">2 / 5</span>
        </li>

        <ng-container *ngFor="let page of pages">
          <li class="page-item d-none d-sm-block">
            <a #paginaCliente (click)="getClients(page)" class="page-link">{{
              page
            }}</a>
          </li>
        </ng-container>
        <li class="page-item">
          <a
            [class.disabled]="notNextPage"
            class="page-link"
            (click)="getClients(next)"
            >Next</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>

<ng-template #loading>
  <Skeleton-table-load (limit)="(limit)"></Skeleton-table-load>
</ng-template>
<!-- <ng-template #loading> <Loading></Loading> </ng-template> -->
