<form [formGroup]="productForm" (ngSubmit)="submitForm(productForm)" novalidate>
  <!-- Page title-->
  <div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Productos</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
      <p class="text-muted">Formulario para crear un nuevo producto</p>
      <p class="font-size-sm font-weight-medium pl-md-4">
        <a
          class="text-nowrap"
          href="javascript:window.history.back()"
          rel="noopener"
          ><i class="cxi-angle-left font-size-base align-middle ml-1"></i>Ir
          atrás</a
        >
      </p>
    </div>
  </div>

  <div class="card box-shadow-sm">
    <div class="card-header">
      <h5 style="margin-bottom: 0px">Registro de producto</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-12 form-group">
              <label
                *ngIf="!validCC.nameProduct"
                for="text-input"
                class="form-label"
                >Nombre del producto</label
              >
              <input
                formControlName="nameProduct"
                name="nameProduct"
                type="text"
                class="form-control"
                placeholder="Titulo de producto"
                required
              />
            </div>
            <div class="col-lg-4 form-group">
              <label
                *ngIf="!validCC.stockProduct"
                for="text-input"
                class="form-label"
                >Stock</label
              >
              <input
                formControlName="stockProduct"
                name="stockProduct"
                type="number"
                class="form-control"
                placeholder="Cantidad inicial"
                required
              />
            </div>
            <div class="col-lg-4 form-group">
              <label
                *ngIf="!validCC.priceProduct"
                for="text-input"
                class="form-label"
                >Price</label
              >
              <input
                formControlName="priceProduct"
                name="priceProduct"
                type="number"
                class="form-control"
                placeholder="Precio"
                required
              />
            </div>
            <div class="col-lg-4 form-group">
              <label
                *ngIf="!validCC.categoryProduct"
                for="text-input"
                class="form-label"
                >Categoria</label
              >
              <select
                formControlName="categoryProduct"
                name="categoryProduct"
                class="form-control custom-select"
                id="select-input"
              >
                <option value="" selected disabled>Seleccionar</option>
                <option value="Categoria 1">Categoria 1</option>
                <option value="Categoria 2">Categoria 2</option>
                <option value="Categoria 3">Categoria 3</option>
              </select>
            </div>

            <div class="col-lg-12 form-group">
              <label
                *ngIf="!validCC.descriptionProduct"
                for="text-input"
                class="form-label"
                >Descripcion</label
              >
              <textarea
                formControlName="descriptionProduct"
                name="descriptionProduct"
                class="form-control"
                placeholder="Titulo de producto"
                required
                rows="5"
              ></textarea>
            </div>

            <div class="col-lg-12 form-group">
              <tinymce
                formControlName="contentProduct"
                name="contentProduct"
                [config]="config"
              ></tinymce>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="row">
            <div class="col-lg-12 form-group">
              <label
                *ngIf="!validCC.coverProduct"
                for="text-input"
                class="form-label"
                >Portada</label
              >
              <div class="custom-file">
                <input
                  (change)="onFileChange($event)"
                  class="custom-file-input"
                  type="file"
                  id="file-input"
                />
                <label
                  style="white-space: nowrap; overflow: hidden"
                  #labelCoverProduct
                  class="custom-file-label"
                  for="file-input"
                  >Seleccionar imagen</label
                >
              </div>
            </div>
            <div class="col-lg-12">
              <img
                [src]="imgSelect"
                class="img-thumbnail"
                alt="Rounded image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button
        *ngIf="!isUpdate"
        [disabled]="!productForm.valid"
        class="btn btn-primary"
      >
        Guardar producto
      </button>
      <button
        class="btn btn-warning"
        *ngIf="isUpdate"
        [disabled]="!productForm.valid"
        type="submit"
      >
        Actualizar
      </button>
    </div>
  </div>
</form>
