<main class="container-fluid pb-3 pb-sm-4">
  <!-- Main content-->
  <section class="cs-offcanvas-enabled row pb-3 pb-md-4">
    <div class="col-xl-9">
      <!-- Navbar-->
      <Navbar></Navbar>

      <!-- Side navigation (Off-canvas)-->
      <Sidebar></Sidebar>

      <!-- Page title-->
      <router-outlet></router-outlet>
    </div>
  </section>
</main>

<!-- Back to top button-->
<a class="btn-scroll-top" href="#top" data-scroll data-fixed-element>
  <span class="btn-scroll-top-tooltip text-muted font-size-sm mr-2">Top</span>
  <i class="btn-scroll-top-icon cxi-angle-up"></i>
</a>
